@import '/src/assets/scss/variables';
.buynow-banner {
    width: 100%;
    color: $white;
    padding-bottom: 2rem;
}

.buynow--innerwrapper {
    display: flex;
    max-width: $wrapper-max-width;
    justify-content: space-between;
    align-items: flex-start;
    padding: $wrapper-padding;
    margin: 0 auto;
    flex-direction: column;
    position: relative;
}

.buynow-image {
    width: 100%;
    height: 70%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.buynow-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-top: 0;
    width: 100%;
    background-color: #1d1d1e;

    h3 {
        font-size: 1.5rem;
        font-weight: 500;
        color: $white;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    .buynow-banner-time {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin-bottom: 1rem;


        .buynow-banner-time--wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            span {
                font-size: 1.5rem;
                font-weight: 500;
                color: $white;
                margin-bottom: .2rem;
            }

            span:nth-child(1) {
                font-size: 2.9rem;
                color: $white;
                margin-bottom: 0;
            }
        }

        .buynow-banner--time-dot {
            font-size: 4rem;
            font-weight: 500;
            color: $white;
            margin: 0 .5rem;
            height: 100%;
        }
    }

    button {
        font-size: 1rem;
        text-transform: uppercase;
        padding: .5rem 1rem;
        background-color: transparent;
        color: $black;
        border: 1px solid $white;
        cursor: pointer;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        text-align: right;

        a {
            text-decoration: none;
            color: $white;
        }
    }
}


//quickview styles
.buynow-image--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.094);

    .quickview {
        width: 100%;
        height: 100%;
        position: relative;

        .quickview-dot {
            width: 20px;
            height: 20px;
            background-color: transparent;
            padding: 4px;
            margin: 0 .5rem;
            border: 6px solid $white;
            cursor: pointer;
            border-radius: 100%;
        }

        .quickview-dot.active {
            background-color: $primary-blue;
        }

        .quickview-dot:nth-child(1) {
            position: absolute;
            top: 30%;
            left: 39%;
        }
        .quickview-dot:nth-child(2) {
            position: absolute;
            bottom: 10%;
            right: 26%;
        }
        .quickview-dot:nth-child(3) {
            position: absolute;
            top: 20%;
            right: 13%;
        }
        .quickview-dot:nth-child(4) {
            position: absolute;
            top: 67%;
            left: 12%;
        }
        .quickview-dot:nth-child(5) {
            background-color: $black;
            position: absolute;
            bottom: 45%;
            left: 29%;
        }
    }
}