@import '/src/assets/scss/variables';

.input-box {
    width: 100%;
    margin-bottom: 1rem;

    input {
        padding: 10px 16px;
        width: 100%;
        border: none;
        background-color: #dedddd;
        &:focus {
            outline: none;
        }
    }
}