@import '/src/assets/scss/variables';

.homeBlog-card {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.homeBlog-card--img {
    width: 100%;
    height: 50%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.homeBlog-card--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    width: 100%;

    span {
        font-size: .8rem;
        color: $inactive-text;
    }

    h4 {
        font-size: 1rem;
        font-weight: 500;
        color: $black;
        margin-bottom: .5rem;
    }

    p {
        font-size: .8rem;
        color: $inactive-text;
        margin-bottom: .5rem;
    }

    a {
        font-size: .8rem;
        text-decoration: none;
        color: $dark-blue;
        border-bottom: 1px solid $dark-blue;
    }
}

//Gallery Card
.gallery-card {
    width: 47%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .gallery-card--content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 1rem;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;

        h4 {
            font-size: 2rem;
            font-weight: 500;
            color: $white;
            margin-bottom: .5rem;
            text-transform: uppercase;
        }

        p {
            font-size: 1rem;
            color: $white;
            margin-bottom: .5rem;
            font-weight: 400;
        }

        button {
            border: 1px solid $white;
            color: $white;
            font-size: 1rem;
            text-transform: uppercase;
            line-height: 1.1;
            font-weight: 400;
            cursor: pointer;
            transition: all .4s ease-in;
            background-color: transparent;

            a {
            text-decoration: none;
            color: $white;
            padding: .5rem 1rem;
            display: block;

                &:hover {
                    background-color: $dark-blue;
                }
            }
        }
    }
}


//Product Card
.productCard {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    text-decoration: none;

    button {
        font-size: .8rem;
        border: none;
        padding: .5rem;
        display: block;
        cursor: pointer;
        color: $white;
        background-color: rgb(47, 47, 246);
        border-radius: 60px;
        position: absolute;
        top: 1rem;
        right: 1rem;
        transition: all .4s ease-in;
        z-index: 1;
    }
}

.productCard--image {
    width: 100%;
    height: 50%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.productCard--info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    padding-left: 0;
    width: 100%;

    h4 {
        font-size: 1rem;
        font-weight: 500;
        color: $black;
        margin-bottom: .2rem;
    }

    h5 {
        font-size: .8rem;
        color: $inactive-text;
        margin-bottom: .2rem;
    }

    span {
        font-size: .8rem;
        color: $inactive-text;
    }
}

//Product category card
.productCategoryCard {
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    text-decoration: none;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 1rem;
    }

    .productCategoryCard--info {
        display: flex;
        justify-content: center;
        align-items: center;

        h4 {
            font-size: 1rem;
            font-weight: 400;
            color: $black;
            margin-bottom: .2rem;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

//shopwithus card
.shopWithUsPhotoCard {
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    span {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1rem;
        color: $black;
        background-color: $white;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}